.cms-application.index-page {
  .pantheon-page {
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 10px;
    padding: 10px;

    .block-header { margin-bottom: 5px; }
    .block-footer { margin-top: 5px; }

    .info-field.author,
    .info-field.updated-at {
      display: inline-block;
      float: left;
      margin-right: 10px;
    }

    h3.url { display: inline-block; }
    .page-actions { 
      float: right; 
      margin-top: 10px;
      a { font-size: 14px; }
    }
  }
}

.cms-application.new-page,
.cms-application.edit-page {
  textarea {
    height: 500px;
  }
}